@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
   --skin-color: #1ec1d0a7;
   --white-color: #fff;
   --skin-color-2: #232322;
   --skin-color-3: #232422;
   --linearGradient-skin-color: linear-gradient(460deg, var(--skin-color) 18%, rgb(115, 111, 111) 40%, rgba(150, 215, 201, 0.318) 100%);
   --grey-color: #999;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   background: linear-gradient(-180deg, var(--skin-color-2), var(--skin-color-3));
   color: var(--white-color);
   font-size: 16px;
   font-family: "Poppins", sans-serif;
   color: var(--white-color);
   /* overflow: hidden; */
}

html {
   scroll-behavior: smooth;
}
a {
   color: var(--white-color);
   text-decoration: none;
}

section {
   height: auto;
   margin-bottom: 20px;
   width: 100%;
   padding: 30px;
}

.container,
.row,
.goals {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.row {
   width: 100%;
   /* background-color: green; */
}

.img-container {
   width: 500px;
   height: 500px;
   position: relative;
   /* background-color: red; */
}

.home .row img {
   max-width: 100%;
   height: auto;
   border-radius: 40px;
   position: relative;
}

.profile {
   width: 100%;
   word-wrap: break-word;
}

.profile p {
   color: var(--grey-color);
   font-size: 2rem;
}

.col {
   height: inherit;
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;

}

.col h3, .col-title h3 {
   font-size: 1.5rem;
   color: var(--grey-color);
   text-align: center;
}

.col h1 {
   font-size: 4rem;
   background-image: var(--linearGradient-skin-color);
   -webkit-background-clip: text;
   -moz-background-clip: text;
   color: transparent;
   text-align: center;
}

.col h2 {
   font-weight: 400;
   font-size: 1.3rem;
   background-image: var(--linearGradient-skin-color);
   -moz-background-clip: text;
   -webkit-background-clip: text;
   text-align: center;
   color: transparent;
}

.title {
   margin: 10px;
   padding: 10px;
}

.title h3 {
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.title h1 {
   background-image: var(--linearGradient-skin-color);
   -webkit-background-clip: text;
   -moz-background-clip: text;
   color: transparent;
   padding: 30px 0;
   font-size: 4rem;
   line-height: 4rem;

}

ul {
   border-radius: 20px;
   padding: 50px 40px;
   width: 80%;
   background: #282827;
}

li {
   list-style: none;
   margin-bottom: 10px;
   font-size: 0.9rem;
   color: var(--grey-color)
}

.goals {
   height: auto;
   width: 100%;
}

.heading {
   font-size: 2rem;
   margin-bottom: 5px;
   background-image: var(--linearGradient-skin-color);
   -webkit-background-clip: text;
   -moz-background-clip: text;
   color: transparent;
}

.footer-row{
   width: 100%;
}
.col-title {
   display:flex;
   justify-content: space-around;
   align-items: center;
   padding: 20px;
   width: 100%;
}
.footer-title {
   font-size: 2rem;
   background-image: var(--linearGradient-skin-color);
   -webkit-background-clip: text;
   -moz-background-clip: text;
   color: transparent;
   text-align: center;
}
.links li a {
   transition: 0.8s;
  font-size: 1.2rem;
  color: var(--skin-color);
}

.links li a:hover {
   transform: translateY(-10px);
   background-image: var(--linearGradient-skin-color);
   -webkit-background-clip: text;
   -moz-background-clip: text;
   color: transparent;
}

.base-message p {
   text-align: center;
   color: var(--grey-color);
   margin-bottom: 3px;
}

@media screen and (max-width: 1000px) {
   .col {
      width: 100%;
   }
}

@media screen and (max-width: 768px) {
   ul {
      width: 100%;
   }
   .col-title {
      display:flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
      width: 100%;
   }
   
}

@media screen and (max-width: 600px) {
   ul {
      width: 100%;
   }

   .img-container {
      width: 400px;
      height: 500px;
   }

   .col h1 {
      font-size: 3rem;
   }

   .footer-title {
      font-size: 1.6rem;
   }

   .col {
      padding: 0;
   }

   section {
      padding: 20px;
   }

   .title h1 {
      font-size: 3.3rem;
      line-height: 3.3rem;
   }
}

@media screen and (max-width: 400px) {
   .img-container {
      width: 350px;
      height: 400px;
   }

   .col h1 {
      font-size: 2.5rem;
   }
   .footer-title {
      font-size: 1.2rem;
   }
   .title h1 {

      font-size: 2.5rem;
      line-height: 2.7rem;
   }

   .col h2 {
      font-weight: 400;
      font-size: 1rem;
   }

   .heading {
      font-size: 1.5rem;
   }
}

@media screen and (max-width: 330px) {
   .img-container {
      width: 350px;
      height: 400px;
   }

   .col h1 {
      font-size: 2.5rem;
   }
   .footer-title {
      font-size: 1rem;
   }
   .title h1 {

      font-size: 2.5rem;
      line-height: 2.7rem;
   }

   .col h2 {
      font-weight: 400;
      font-size: 1rem;
   }

   .heading {
      font-size: 1.5rem;
   }
}