* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    list-style: none;
    color: #fff;
    background: #23242a;
}
header {
    padding: 20px 30px;
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    background:  rgb(55, 59, 143); 
    /* background: rgba(29, 29, 29, 0.); */
}
nav {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;   
    
}
.nav-links {
    display: flex;   
}
.nav-links li a{
    padding: 0 20px;
    color: black;
}
.logo img {
    width: 60px;
}
.fs {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(2, 38, 95, 0.812)),url(./img/hannah-busing-gktFjKSWAmA-unsplash.jpg);
    background-size: cover;
    background-position-y: bottom;
    text-align: center;
    padding: 0px 30px;
}
.fsani {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta-con {
    position: relative;
}
.cta-con img {
    width: 100%;
    position: absolute;
    top: -100px;
    left: 0;
    background-size: cover;
    
}
.cta {
    text-transform: capitalize;
}
.cta h1 {
    font-size: 40px;
    font-weight: 500;
    text-shadow: 3px 2px rgb(61, 97, 227);
    text-align: left;
    color: white;
}
.after::after {
    position: absolute;
    height: 5px;
    width: 50px;
    background: #fff;
    content: ' ';
    display: block;
    bottom: -10px;
}
.cta h2 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size:20px;
    font-weight: 400;
    color: rgb(210, 207, 207);
    position: relative;
}
iframe {
    margin-bottom: 30px;
}
button {
    padding: 10px 20px;    
    outline: 0;
    border: 2px solid rgb(199,197,197);
    background-color: transparent;
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.navmenu {    
    padding: 3px;
    width: 45px;
    height: 45px;
    background: rgb(187, 188, 189);
    text-align: center;
    display: flex;    
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    z-index: 3;
    margin-right: 10px;
}
.navmenu i {
    color: green;
    font-size: 30px;
    font-weight: 700;
}
 .container {
    color: black;
    display: flex;
    justify-content: center;
    background: #23242a;
    height: auto;
    width: 100%;
}
.container-2 {
    color: black;
    background: #23242a;
    height: auto;
    width: 100%;
}
.row {
    display: block;
    padding: 5px 10px;
}
.col {
    padding: 10px;
    height: 250px;    
    margin: 30px 0px;
    border-radius: 20px;
    border: 0;    
    background: #28292d;
    transition: 0.8s;
    width: 90%;
}
.col-2 {
    padding: 10px;
    height: 400px;    
    margin: 30px 0px;
    width: 90%;
    border-radius: 20px;
    border: 0;    
    background: #28292d;
    transition: 0.8s;
}
.col:hover, .col-2:hover{
    box-shadow: 0px 0px 20px rgb(26, 24, 24);
}
.col h2{
    text-align: center;
    color: #fff;
    font-weight: 400;
}
.col a {
    color: green;    
}
.center {
    display: flex;
    justify-content: center;
    width: 100%;
}
.circle {
    text-align: center;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3c3d3e;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 5px;
}
ion-icon {
    font-size: 50px;
    color: green;
}
.written-location ion-icon {
    font-size: 30px;
    margin-right: 10px;
}
.title {
    text-transform: capitalize;
    width: 100%;
}
.title h1 {
    color: green;
    font-weight: 600;
    font-family: 'Gabriela', serif;
    text-align: left;
    font-size: 27px;
    position: relative;
}
.title h2 {
    margin-top: 20px;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}
.address {    
    text-transform: capitalize;
}
.address h2 {
    margin-top: 20px;
}
.address h3 {
    color: rgb(138, 142, 138);
    font-weight: 400;    
    font-size: 20px;
}
.socialicons {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    background-color: #23242a;
    padding: 20px;
}
.socialicons ion-icon {
    color: #45ff70;
    font-size: 25px;
    background: #3c3d3e;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
    margin: 5px 10px;
}
.socialicons ion-icon:hover {
    transform: translateY(-3px);
}
.col-3 {
    padding: 10px;
    height: 100px;    
    border: 0;    
    margin-top: 20px;
    background: #23242a;
    transition: 0.8s;
    color: white;
}
h5 {
    color: #fff;
}
.row-2 {
    display: flex;
    justify-content: center;
    color: #fff;
}
.col-5 {
    color: #fff;
}
.col-4 {
    max-width: 45%;    
    
    flex: 0 0 45%;
    padding: 0 15px;    
}
.col-4 h3 {
    color: #dcdddd;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 19px;
    position: relative;
}
.col-4 h3::after {
content: ' ';
width: 11%;
position: absolute;
bottom: -5px;
left: 0;
background: blue;
height: 4px;
}
.ts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
li {
    list-style: none;
}
.di-flex {
    display: flex;
}
.footer img {
    width: 100px;
    padding-right: 10px;
}
.footer {
    height: auto;
    margin-top: 200px;
    background-color: #23242a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-transform: capitalize;
}
.inputcheckbox {
    width: 100%;
    display: flex;
    padding: 5px ;
}
.inputcheckbox h3 {
    margin: 0 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.newsletter {
    margin: 25px 0;
    color: #fff;
}
.newsletter .title h3 {
    font-size: 23px;
    padding: 10px 15px;
}
.newsletter .row-3  {
    position: relative;
    padding: 40px;
    background-color: rg#fff;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    align-items: center;
    border-radius: 8px;
    box-shadow: 15px 15px 35px rgba(0,0,0,0.25);
}
.inputbox {
    position: relative;
    margin: 40px 0;
}
.inputbox input {
    position: relative;
    padding: 8px 13px;
    border: 0;
    outline: 0;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: transparent;
    color: rgb(4, 4, 4);
    letter-spacing: 0.05em;
    z-index: 2;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}
.inputbox span {
    position: absolute;
    left: 0;
    pointer-events: none;
    font-size: 18px;
    transition: 0.5s;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.05em;
}
.inputbox input:valid ~ span,
.inputbox input:focus ~ span
{
    font-size: 16px;
    transform: translateY(-32px);
}
.inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    height: 3px;
    border-radius: 4px;
    pointer-events: none;
}

.inputbox input:valid ~ i,
.inputbox input:focus ~ i {
    height: 100%;
    box-shadow: inset 0 0 10px green;
}
.submit{
    border: 0;
    outline: 0;
    background: #fff;    
    border-radius: 5px;
    width: 100px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
    padding: 7px 15px;
    transition: 0.5s;
    color: #242222;
    letter-spacing: 1px;
    box-shadow: inset 0px 0px 2px green;
}

.submit:hover {
    transform: translateY(-2px);    
}

.conclusion {    
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.conclusion h4 {
    color: #6c6e76;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
}





