* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
.Main {
    background-color: hsl(0, 100%, 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    background-color: rgb(0, 217, 255);
    border-start-start-radius: 20px;
    border-start-end-radius: 10px;
    border-radius: 5px;
    padding: 15px 30px;
    width: 700px;
}
.inputbox-container   {
    display: block;
    width: 100%;    
    padding: 20px;
}
.cta h1 {
    color: #fff;
    font-size: 35px;
    margin-bottom: 20px;
}
.cta h3 {
    font-weight: 500;
    color: #23232a;
}
label, button,input {
    width: 100%;
}
button,input {
    border: 0;
    outline: 0;
    margin-block: 5px;
    padding: 5px 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    background-color: #fff;
}
label {
    font-size: 15px;
}
input {
    text-indent: 10px;
    padding: 5px 10px;
    text-transform: capitalize;
    font-size: 16px;
    text-align: center;   
}
button a {
    text-decoration: none;
    color: #111;
    font-size: 15px;
}
button {    
    transition: 200ms;
}
button:hover {
    background: rgb(0, 217, 255);    
    border: 1px solid #fff;
}
button:hover  > a {
    color: #fff;
}
@media (max-width:768px) {
    .Main {
        padding: 10px;
    }
    .container {
        width: auto;
    }
    
}