* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-transform:capitalize;    
}
html {
    scroll-behavior: smooth;
}
:root {
    --skin-color: #2727b8;
    --skin-colo-2: red;
    --bg-grey: #fff;
    --text-color-black-900: #111;
    --text-color-white-900: #fff;
    --text-color-white-700: #f2f2f2e1;
    --text-color-black-700: #232425;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color:var(--text-color-black-900);
}
.img-con {
    position: relative;
}
.title {    
    margin: 10px;
    padding: 10px;
}
.about .title h1 {
    font-size: 30px;    
    position: relative;
    color: var(--text-color-black-700);
    padding-left: 30px;
    margin-bottom: 30px;
}
.about .title h1::after {
    content: '';
    width: 3px;
    height: 100%;
    border-radius: 10px;
    background: var(--skin-color);
    position: absolute;
    bottom: 0;
    left: 10px;
}

.about .title h1::before {
    content: '';
    width: 3px;
    height: 100%;
    border-radius: 10px;
    background: var(--skin-color);
    position: absolute;
    bottom:- 10px;
    left: 0;
}

.about .title h2 {
    color: var(--text-color-black-700);
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;   
}
h6 {
    font-size: 17px;    
    text-align: left;
    font-weight: 400;    
    position: relative;
    margin-bottom: 10px;
}
h6::before {
    content: '';
    width: 30px;
    height: 2px;
    border-radius: 10px;
    background: var(--skin-color);
    position: absolute;
    bottom:0px;
    left: 0;
}
.about .title h3 {
    color: var(--text-color-black-700);
    font-weight: 400;
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 20px;   
    text-align: center;
    
}

.title h4 {
    color: var(--skin-color);
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;   
    position: relative;
}

.fs {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./img/IMG_6674.JPG);
    background-size: cover;
    background-position: bottom;
    padding: 30px;
}
.fscon {    
    padding: 20px;
    width: 100%;
}
.cta {
    padding: 30px;
    width: 500px;
}
    .cta h3 {    
        
        font-size: 30px;
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        font-weight: 600;
        color: #111;
    }
    .cta h3::after {    
            content: '';
            width: 50px;
            height: 3px;
            border-radius: 10px;
            background: rgb(96, 87, 87);
            position: absolute;
            left: 0;
            bottom: -1px;
    }
    .cta h2 {
        color: #111;
        font-size: 22px;
        font-weight: 500;
    }
    .cta p {
        color: #444;
    }

.parcon {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
}
.parcon .col {
    background-color: rgb(247, 243, 243);
    margin: 10px;
    max-width: 22%;
    flex: 0 0 22%;
    height: 400px;
    position: relative;
}
.parcon .col img {
    width: 100%;
}
.paracon-two {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
    
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
}
.paracon-two .col {
    
    max-width: 50%;
    flex: 0 0 50%;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%
}
.paracon-two .col img {
    width: 100%;
    
}
.ss {
    display: flex;
    height: auto;
    padding: 30px 0;
    width: 100%;
    justify-content: center;    
    background-color: black;
}
.ss.title h2 {
    color: var(--text-color-white-700);
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;   
}

.ss .title h3{
    color: var(--text-color-white-700);
    font-weight: 400;
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 20px;   
}
.title h4 {
    color: white;
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;   
    position: relative;
}
.ss .title h1 {
    color: var(--text-color-white-900);
    font-weight: 900;
    font-size: 40px;
    text-transform: capitalize;
    line-height: 45px;
    margin-bottom: 20px;
}
.caretcon {
    margin-left: 3px;
    border-left: 1px solid #999;
}
.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    margin-top: 10px;
    margin-left: 3px;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(255, 255, 255);
    
    
}
.ss h2 {
    color: white;
}
.caret-rotate {
    transform: rotate(180deg);
}
h5 {
    font-size: 15px;
    text-transform: capitalize;
    color: white;
}
.dropdown {
    padding: 0 20px;
    
    margin: 10px 0;
    position: relative;
    
    padding: 10px 20px;
}
.ss p {
    color: #fff;
}
.dropdowncon{
    display: flex;    
    border: 1px solid #666;
    padding: 5px 10px;
    color: white;
    
}
.none {
    display: none;
}
.hidden {
    opacity: 0;
    transition: all 2s;
    filter: blur(5px);
    transform: translateX(-100%);
}
.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}
.menu {
    opacity: 1;
    width: 100%;
    color: white;
}
@media screen and (max-width: 768px) {
    .paracon-two .col {    
        max-width: 100%;
        flex: 0 100%;
        height: auto;        
    }
    .parcon .col {        
        margin: 10px;
        max-width: 45%;
        flex: 0 0 45%;
        height: 400px;
        position: relative;
    }
    .cta {
        padding-left: 10px;
        width: 100%;
    }
    .fscon {    
        padding: 5px;
        width: 100%;
    }
}
@media screen and (max-width: 425px) {
    
    .parcon .col {        
        margin: 10px;
        max-width: 90%;
        flex: 0 0 90%;
        height: 400px;
        position: relative;
    }
}