* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-transform:capitalize;    
}
html {
    scroll-behavior: smooth;
}
:root {
    --skin-color: #2727b8;
    --skin-colo-2: red;
    --bg-grey: #fff;
    --text-color-black-900: #111;
    --text-color-white-900: #fff;
    --text-color-white-700: #f2f2f2e1;
    --text-color-black-700: #232425;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color:var(--text-color-black-900);
}
.img-con {
    position: relative;
}
.title {    
    margin: 10px;
    padding: 10px;
}
 .title h1 {
    font-size: 30px;    
    position: relative;
    color: var(--text-color-black-700);
    padding-left: 30px;
    font-family: 'Gabriela', sans-serif;
    margin-bottom: 30px;
}
.title h1::after {
    content: '';
    width: 3px;
    height: 100%;
    border-radius: 10px;
    background: var(--skin-color);
    position: absolute;
    bottom: 0;
    left: 10px;
}

 .title h1::before {
    content: '';
    width: 3px;
    height: 100%;
    border-radius: 10px;
    background: var(--skin-color);
    position: absolute;
    bottom:- 10px;
    left: 0;
}

.title h2 {
    color: var(--text-color-black-700);
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;   
}

.title h3 {
    color: var(--text-color-black-700);
    font-weight: 400;
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 20px;   
}
.title h4 {
    color: var(--skin-color);
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;   
    position: relative;
}

.row {
    padding: 10px 20px;
    display: flex;   
    
}
.col {
    margin: 10px;
    position: relative;
    display: flex;
    align-items: center;
    height: 50vh;     
    width: 50%;
    flex: 0 0 50%;
    overflow: hidden;   
    background-position: center;
    background-color: red;
}
img{
    width: 100%;
    
}
.imgcover{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    cursor: pointer;
    border-radius: 5px;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(2, 38, 95, 0.812));
}
button {
    padding: 10px 20px;    
    outline: 0;
    border: 0;
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    margin-top: 10px;
    transition: all 2s;
}
.styled-btn a {
    color: var(--text-color-black-700);
    position: relative;
    padding-left: 10px;
    width: 100%;
}
.styled-btn a::after {
    content: ' ';
    position: absolute;
    height: 100%;
    width: 2px;
    background: red;
    left: -10px;
}
.styled-btn a::before{
    content: ' ';
    position: absolute;
    height: 100%;
    width: 2px;
    background: red;
    left: -3px;
}
.title2 {
    display: flex;
    width: 100%;
    padding: 5px;
    align-items: center;
    margin-bottom: 20px;
    
}
.title2 img {
    height: 80px;
    width: 80px;
}
.title2 h3 {
    font-size: 18px;
    color: var(--text-color-black-700);
    padding-left: 10px;
    font-weight: 400;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding:  40px 20px;
    background-color: #fff;    
}
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding:  80px 20px;
    background-color: #fff;    
}
 .inputbox {
    position: relative;    
    margin-top: 20px;
    width: 100%;
}
.inputbox label {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 10px 10px;
    font-size: 1em;
    pointer-events: none;
}
select {
    position: absolute;
    right: 0;
    top: 0;
    text-transform: capitalize;    
    outline: 0;
}

.inputbox .select {
    position: relative;
    width: 100%;
    padding: 30px 10px 20px;   
}

.inputbox input {
    position: relative;
    width: 100%;
    padding: 30px 10px 20px;
    background: transparent;
    border: none;
    outline: none;
    z-index: 10;
    font-size: 1.2em;
    text-transform: capitalize;
    color: white;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.inputbox i { 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #6b6e6b;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    margin-bottom: 10px;
}
.inputbox input:valid ~ label, 
.inputbox input:focus ~ label {
    color: #747c76;
    transform: translateY(-30px);
}
.inputbox input:valid ~ i, 
.inputbox input:focus ~ i {
    height: 44px;
    background: #747c76;
}
.inputcheckbox {
    margin: 5px 0; 
}
.inputcheckbox span {
    font-size: 14px;
    pointer-events: none;    
    color: #6d6b6b;
   width: 100%;
   
}
.otherlinks {
    display: flex;
    justify-content: space-between;
}

#submit{
    border: 0;
    outline: 0;
    background: #3f403f;    
    border-radius: 5px;
    width: 100px;
    font-size: 17px;
    font-weight: 500;
    margin-top: 5px;
    padding: 7px 15px;
    transition: 0.5s;
    color: #fff;
    text-transform: capitalize;
}
#submit:hover {
    transform: translateY(-2px);    
}
#message {
    width: 100%;
    height: 20vh;
    padding: 10px;
    outline: 0;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        padding:  40px 20px;
        background-color: #fff;    
    }
}