* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    text-transform: capitalize;
}
html {
    scroll-behavior: smooth;
}
:root {
    --skin-color: #2727b8;
    --skin-colo-2: red;
    --text-color-black-900: #111;
    --text-color-white-900: #fff;
    --text-color-white-700: #f2f2f2e1;
    --text-color-black-700: #232425;

}
#greeting{
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    font-size: 30px;
    font-family: 'Gabriela', sans-serif;
}
.facts  {
    color: #fff;
    font-size: 30px;
    font-family: 'Gabriela', sans-serif;
}
.bg{
    position: relative;
    display: flex;
    width: 100%;
}
 .bubble {
    position: relative;
    width: 5px;
    height: 5px;
    background-color: white;
    box-shadow:  0 0 0 3px rgba(0,0,0,0.1);
    margin: 0 14px;
    border-radius: 50%;
    animation: bubble 15s linear infinite;
    animation-duration: calc(200s/var(--i));
    z-index: 10;
}
@keyframes bubble {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}

p {
    margin-bottom: 30px;
    color: red;
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
}
.getinfo {
    display: grid;
    place-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    position: relative;
    padding:  40px 20px;
    background-color: #23242a;
    background-size: cover;
    background-position: center;
}
 .inputbox {
    position: relative;    
    margin-top: 20px;
    width: 100%;
}
.inputbox label {
    position: absolute;
    left: 0;
    color: #fff;
    top: 0;
    padding: 10px 10px 10px;
    font-size: 1em;
    pointer-events: none;
}
.inputbox input {
    position: relative;
    width: 100%;
    padding: 30px 10px 20px;
    background: transparent;
    border: none;
    outline: none;
    z-index: 10;
    text-align: center;
    font-size: 1.2em;
    text-transform: capitalize;
    color: white;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.inputbox i { 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #6b6e6b;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    margin-bottom: 10px;
}
.inputbox input:valid ~ label, 
.inputbox input:focus ~ label {
    color: #fff;
    transform: translateY(-30px);
}
.inputbox input:valid ~ i, 
.inputbox input:focus ~ i {
    height: 44px;
    background: #747c76;
}
.inputcheckbox {
    margin: 5px 0; 
}
.inputcheckbox span {
    font-size: 14px;
    pointer-events: none;    
    color: #6d6b6b;
   width: 100%;
   
}
.otherlinks {
    display: flex;
    justify-content: space-between;
}

#submit{
    border: 0;
    outline: 0;
    background: #3f403f;    
    border-radius: 5px;
    width: 100px;
    font-size: 17px;
    font-weight: 500;
    margin-top: 5px;
    padding: 7px 15px;
    transition: 0.5s;

    text-transform: capitalize;
}
#submit a {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
#submit:hover {
    transform: translateY(-2px);    
}

@media screen and (max-width: 768px) {
    .getinfo {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        padding:  40px 20px;
        background-color: #fff;    
    }
}